<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Login</title>
</head>

<body>

    <div class="top-bar-fixed">
        <button onclick="toggleMode()" class="toggle-btn">🌙</button>
    </div>

<div class="auth-container">

    <h2>Login</h2>

    {% if error %}
    <p class="error-msg">{{ error }}</p>
    {% endif %}

    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account?</p>
    <a href="/register">
        <button type="button">Register Here</button>
    </a>

</div>

</body>
</html>

<script>
function toggleMode() {
    document.body.classList.toggle("dark");
    localStorage.setItem("theme", document.body.classList.contains("dark"));
}

window.onload = () => {
    if (localStorage.getItem("theme") === "true") {
        document.body.classList.add("dark");
    }
}
</script>
